@import "F:\Sourse\网页模版\fn\fn.styl"

style()

.mobile-wrap
	position relative
	min-height 100vh
	

.top
	background #ba0001
	position relative
	height 119px
	padding 0 4%
	h2
		line-height 119px
		position absolute
		left 20%
		width 60%
		text-align center
		color #fff
	.fl
		margin-topV 119px 44px
		img
			width 26px

.title
	dt 1
	padding 39px 0
	h2
		font-size 28px
		font-weight bold
		text-align center
		
.list-item-dt
	span
		text-align center
		float left
		&.sp1
			width 50%
		&.sp2
			width 25%
		&.sp3
			width 25%
	h3
		heightL 90px
		span
			font-size 20px
			color #666666
	ul
		li
			heightL 90px
			&.acti
				background #eeeeee
				span
					&.sp3
						color #ba0001
					i
						back1('f0ec9feeca120c20_36x37.png',true,36px)
			span
				&.sp1
					font-size 30px
				&.sp2
					font-size 28px
					color #666666
				&.sp3
					font-size 20px
					color #9c9a9a
				i
					width 36px
					height 40px
					margin-left 10px
					

.ico-copy
	back1('22c174d4c5e46c18_32x40.png',true,32px)
	
.tabs
	margin-top 32px
	background #f4f4f4
	dt 1
	heightL 71px
	a
		float left
		width 25%
		font-size 28px
		text-align center
		position relative
		transition .2s
		&:after
			display none
			content ''
			center 1
			bottom 0
			width 40%
			height 4px
			background #ba0001
		&.acti
			font-weight bold
			color #ba0001
			font-size 34px
			&:after
				display block
				
.add-music
	padding 37px 4%
	dt 1
	.fl
		margin-left 40px
		margin-topV 64px 44px
		img
			width 26px
	h3
		heightL 64px
		position absolute
		width 50%
		left 25%
		font-size 42px
		color #323131
		text-align center
	button
		float right
		color #fff
		width 197px
		height 64px
		border-radius 60px
		background #ba0001
		font-size 32px
		
.search
	display table
	height 52px
	width 60%
	box-shadow 0 0 10px rgba(0,0,0,.2)
	border-radius 30px
	button
		float left
		width 41px
		height 40px
		back('2caf2dd4399299c3_41x40.png')
		margin 5px 0 0 15px
	input
		height 100%
		widthC 60px
		padding-left 5px
		text-align center
		padding-right 15px

.ico-xin
	back1('792ba0d32b6f9c4a_38x33.png',true,38px)
	&.acti
		background-image url('../img/7c40352948578289_38x33.png')
.ico-add
	back1('23d1878658747c76_38x38.png',true,38px)
	&.acti
		background-image url('../img/5c511a243ed0ab72_37x38.png')
.ico-play
	width 84px
	height 84px
	back('76c36526a04eb3c4_84x84.png')
	
.play-item-dt
	padding-bottom 40px
	ul
		li
			padding 0 4%
			margin 40px 0
			&:last-child
				.fr
					border-bottom none
			.pict
				float left
				position relative
				width 126px
				height 126px
				border-radius 8px
				background #e0e7ed
				overflow hidden
				img
					width 100%
				i
					center 3
			.fr
				widthC 146px
				padding-bottom 25px
				border-bottom 1px solid #b5b5b5
			.text
				float left
				width 393px
				b
					font-size 30px
					display block
				p
					color #9b9a9a
					margin-top 41px
					span
						float left
						width 160px
			.ico
				float right
				margin-top 25px
				i
					float left
					widthZ 38px
					margin-left 15px
					ml 0